<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to 'Sign Out', '/sign_out', { method: :delete }%>
      <label> Current user: <%= current_user_name  %></label>
    <% else %>
      <%= link_to 'Sign In', '/sign_in' %> |
      <%= link_to 'Sign Up', '/sign_up' %>
    <% end %>



    <% if flash[:error] %>
      <label>Error: <%= flash[:error] %></label>
    <% end %>

    <%= yield %>
  </body>
</html>
